.spantree-toggler {
  position: fixed;
  padding: 4px 8px;
  top: calc(
    40% + var(--header-height, 0px) + var(--top-bar-height, 0px) +
      var(--system-header-height, 0px) + var(--performance-bar-height, 0px)
  );
  transform: rotate(-90deg);
  transform-origin: top left;
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 0px 5px #000000d9;
  color: white;
  background: rgb(77, 61, 146);
}
